<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scoops">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/customTheme">
        <activity android:name=".VolDetails"></activity>
        <activity android:name=".AcceptedInfo" />
        <activity android:name=".RequestAccepted" />
        <activity android:name=".RequestCardAdapter" />
        <activity android:name=".RequestInfo" />
        <activity android:name=".RequestFeed" />
        <activity android:name=".NotificationActivity_C" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".HistoryActivity_C" />
        <activity android:name=".PostRequest" />
        <activity android:name=".RequestActivity" />
        <activity android:name=".EditProfileC" />
        <activity
            android:name=".ClientProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VolunteerProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LandingPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".BackgroundRun"
            android:enabled="true" />
    </application>

</manifest>